<header class="navbar">
  <div class="navbar-container">
    <div class="logo-container">
      <h1><a href="/" class="logo" style="text-decoration: none;">Movie</a></h1>
    </div>
    <div class="menu-container">
        <form class="wrapper" action="/results" method="GET">
          <div class="">
            <input type="text" name="search" id="search" onkeyup="changeInput(this.value)" class="search" placeholder="Search">
            <div>
              <div id="results" class="results"></div>
        </form>
        </div>
        
  </div>
</header>
<button id="scroll-to-top"><i class="fas fa-chevron-up"></i></button>

