<header class="navbar">
  <div class="navbar-container">
    <div class="logo-container">
      <h1><a href="/" class="logo" style="text-decoration: none;">Movie</a></h1>
    </div>
    <div class="menu-container">
      <form action="/results" method="GET">
        <input type="text" name="search" placeholder="Enter search term" class="search">
      </form>
    </div>
  </div>
</header>
<button id="scroll-to-top"><i class="fas fa-chevron-up"></i></button>